@use "colours";
@use "buttons";
@use "media";

//navbar and footer
@use "footer";
@use "navbar";
//core and container styles
@use "core";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {

}

body {
  background: colours.$grey;
  font-family: 'Rammetto One', sans-serif;
  min-height: 100vh;
}

footer {

}

.container {
  text-align: center;

  header {
    h1 {
      padding: 2rem 0;
      font-size: 4rem;
      text-align: center;
    }
  }

  .lists-container {
    margin: 37px 0;
    display: flex;
    flex: 1;
    width: 100%;
    text-align: center;
    justify-content: center;


    .lists {

      flex-flow: column;
      width: 100%;
      background-color: slategrey;

      min-width: 250px;
      max-width: 400px;
      height: 100%;
      min-height: 300px;

      padding: 8px;
      margin: 0 15px;

      h1 {
        font-size: 1rem;
      }

      .cards-container {
        padding: 1rem 0;
        text-align: center;

        .cards {
          cursor: pointer;
          display: flex;
          justify-content: center;

          .edit-input {



          }

          .deleteButton {

          }

        }

      }
    }
  }
}

